/**
 * General
 */
body {
	background: #026899;
}
html,
body.googlemaps
{
	height:100%;
}
body.index
{
	background:url(../images/bg.jpg) repeat-x #026899;
}
@media (max-width: 767px) {
	body, body.index {
		background: #026899;
	}
}

ul li.active,
h3
{
	font-weight:bold;
}

/**
 * Head Unit index.php
 */
#head-unit {
	width:980px;
	height:589px;
	background:url(../images/header_teaser.jpg) top center no-repeat;
	color:#000;
}
#head-unit-wrapper {
	width:980px;
	position:relative;
	margin:0 auto;
}
@media (max-width: 980px) {
	#head-unit-wrapper,
	#head-unit {
		width:100%;
	}
}
#head-unit h2, #head-unit h3 {
	display:block;
	text-indent:-999999px;
	margin:0;
}
#head-unit-wrapper a {
	display:block;
	position:absolute;
	left:50px;
	width:350px;
	height:50px;
	text-indent:-999999px;
}
@media (max-width: 980px) {
	#head-unit-wrapper a {
		width:30%;
		left:5%;
		margin-bottom:20px;
		width:100%;
	}
}
#head-unit-wrapper a.apple_app {
	top:293px;
}
#head-unit-wrapper a.browser_app {
	top:345px;
}
@media (max-width: 767px) {
	#head-unit-wrapper a.apple_app,
	#head-unit-wrapper a.browser_app,
	#head-unit-wrapper a {
		position:relative;
		top:0;
		left:0;
		text-indent:0px;
	}
}

/**
 * Header / Navigation
 */
.navbar .brand
{
	background:url(../images/logo_seapal.jpg) center center no-repeat;
	text-indent:-99999px;
	width:143px;
}
.header-wrapper {
	margin-bottom:100px;
}
body.index .header-wrapper {
	margin-bottom:59px;
}
body.withsubnavi .header-wrapper {
	margin-bottom:144px;
}
@media (max-width: 767px) {
	body.index .header-wrapper {
		margin:0;
	}
	
	#map_canvas {
		margin:0 !important;
	}
}

/**
 * Second Navigation
 */
#webapp-menu-pill
{
	border-bottom:1px solid #0E3056;
	background:#00547c;
	padding:20px 50px 0 50px;
	margin-top:-20px;
}
#webapp-menu-pill a {
	color:#fff;
}
#webapp-menu-pill a:hover {
	color:#000;
}
#webapp-menu-pill li.active a:hover {
	color:#fff;
}

/**
 * Content
 */
.input-wrapper textarea
{
	width: 100%;
	height: 148px;
	resize: none;
}
.input-wrapper input.compact
{
	width: 28px;
}
.input-wrapper input.shift
{
	margin-left: 20px;
}
.input-wrapper input
{
	width: 100%
}
.feature {
	min-height: 295px;
}
.widebox {
	min-height: 250px;
}
@media (min-width: 768px) and (max-width: 979px) {
	.feature {
		min-height: 463px;
	}
	.widebox {
		min-height: 279px;
	}
}
@media (min-width: 979px) and (max-width: 1200px) {
	.feature {
		min-height: 352px;
	}
}
.round
{
	border-radius:5px;
	padding: 20px;
	margin-bottom:30px;
	background:#00547c;
}
.round h2
{
	border-bottom:1px solid #fff;
	margin-top: -5px;
	line-height: 56px;
}
.round h2.seamaps
{
	background: url(../images/seamaps.png) top right no-repeat;
}
.round h2.navi
{
	background: url(../images/compass.png) top right no-repeat;
}
.round h2.tools
{
	background: url(../images/tools.png) top right no-repeat;
}
.round h2.extensions
{
	background: url(../images/extensions.png) top right no-repeat;
}
.round h2.warning
{
	background: url(../images/warning.png) top right no-repeat;
}
.listview
{
	margin-top: 20px;
	margin-bottom: 10px;
}
.left
{
	float: left;
}
.right
{
	float: right;
}
.gadgets-wrapper
{
	margin-top: 20px;
	margin-bottom: 10px;
}
.gadget
{
	margin-left: auto;
	margin-right: auto;
}
.notes textarea
{
	height: 185px;
	-webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;

    width: 100%;
	resize: none;
}

.table {
	color: #000;
}

.modal {
	color: #000;
}


.container .buttons_top {
	padding-top: 1em;
}


#slideshow .item img {
	max-height: 576px;
}

input.asText:disabled{
	border: 0px;
	background: #00547c;
	color: #fff;
	box-shadow: none;
	-webkit-box-shadow: none;
	-webkit-transition: none;
	cursor: default;
}

.table-hover tbody tr:hover td,.table-hover tbody tr:hover th{
	background-color:#dff0d8;
}

input.asText::-webkit-outer-spin-button,
input.asText::-webkit-inner-spin-button {
	margin: 0;
	visibility: hidden;
	webkit-appearance: none;
}

#boatListTable td{
	cursor: pointer;
}

td.actionCol{
	cursor: default !important;
}

th.actionCol {
	width: 50px;
}

td.actionCol i {
	margin-left: 5px;
}
td.actionCol a:first-child i {
	margin-left: 0px;
}

.datepicker {
	margin-right: 26px;
	color: black;
}
.datepicker-small {
	margin-right: 42px;
}
.datepicker label {
	color: white;
}

/**
 * Footer
 */
.footer-wrapper
{
	margin-top: 30px;
}
.footer
{
	border-top:1px solid #0c4675;
	padding-top:20px;
}
.footer a {
	color:#FFF;
}
.footer ul {
	list-style:none;
}
.footer .round {
}
@media (max-width: 767px) {
	.footer {
		 margin-left:-20px;
		 margin-right:-20px;
	}
}