@(tripId: java.util.UUID, myForm: Form[de.htwg.seapal.model.impl.Waypoint])

@scripts = {
	<script type="text/javascript" src="@de.htwg.seapal.web.controllers.routes.Application.javascriptRoutes"></script>
	<link type="text/css" rel="stylesheet" href="@routes.Assets.at("lib/datepicker/css/datepicker.css")" />
	<script type="text/javascript" src="@routes.Assets.at("lib/datepicker/js/bootstrap-datepicker.js")"></script>
	<script type="text/javascript" src="@routes.Assets.at("js/log_entry.min.js")"></script>
	<script type="text/javascript" src="https://maps.google.com/maps/api/js?key=AIzaSyAL6gKFmwH7gDXmmAW-5VqkW_HbJG7_QLA&sensor=false"></script>
	<script type="text/javascript" src="@routes.Assets.at("lib/label.js")"></script>
	<script type="text/javascript" src="@routes.Assets.at("lib/seamap/seamap-1.0.1.js")"></script>
}

@import de.htwg.seapal.web.views.content._

@main("SeaPal - Log Entry", scripts, "withsubnavi") {
@helper.form(action = de.htwg.seapal.web.controllers.routes.WaypointAPI.addWaypoint() , 'id -> "form") {
			<input type="hidden" id="waypoint_id" name="_id" value="" />
			<input type="hidden" id="rev_id" name="_rev" value="" />
			<input type="hidden" id="trip_id" name="trip" value="@tripId" />
				<div class="container">
					<div class="row">
						<div class="span8">
							<div class="left">
							<h1>Log Entry</h1>
							</div>
						</div>
						<div class="span4">
							<div class="right buttons_top">
								<input type="submit" id="submitBtn" class="btn btn-success" value="Save"/>
							</div>
						</div>
					</div>
					<div class="input-wrapper">
						<div class="row">
							<div class="span6">
								<label for="name">Name</label>
								<input type="text" name="name" style="width:100%;" tabindex="1" required />
							</div>
						</div>
						<div class="row">
							<div class="span3">
								<label for="latitude">Latitude</label>
								<input type="number" name="latitude" tabindex="2" min="-90" max="90" step="0.01" required/>
							</div>
							<div class="span3">
							<label for="longitude">Longitude</label>
								<input type="number" name="longitude" tabindex="3" min="-180" max="180" step="0.01" required/>
							</div>
							<div class="span2">
								<label for="cog">COG</label>
								<input type="number" name="cog" tabindex="10" min="0" step="0.1"/>
							</div>
							<div class="span2">
								<label for="sog">SOG</label>
								<input type="number" name="sog" tabindex="18" min="0" max="360" />
							</div>
							<div class="span2">
								<div class="datepicker-small input-append date" data-date="2013-01-17" data-date-format="yyyy-mm-dd">
									<label for="date">Date</label>
									<input class="span2" size="16" type="text" name="date" tabindex="18" value="2013-01-17"/>
									<span class="add-on">
										<i class="icon-th"></i>
									</span>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="span3">
								<label for="btm">BTM</label>
								<input type="number" name="btm" tabindex="3" min="0" max="360" />
							</div>
							<div class="span3">
								<label for="dtm">DTM</label>
								<input type="number" name="dtm" tabindex="11" min="0" step="0.1" />
							</div>
							<div class="span4 offset2">
								@helper.select(myForm("headedFor"), helper.options(DropdownContent.getHeadedForOptions))
							</div>
						</div>
						<div class="row">
							<div class="span4">
								@helper.select(myForm("maneuver"), helper.options(DropdownContent.getManeuverOptions))
							</div>
							<div class="span4">
								@helper.select(myForm("foresail"), helper.options(DropdownContent.getForeSailOptions))
							</div>
							<div class="span4">
								@helper.select(myForm("mainsail"), helper.options(DropdownContent.getMainSailOptions))
							</div>
						</div>	
					</div>
					<div class="gadgets-wrapper">
						<div class="row">
							<div class="span3">
								<div class="round">
									<div class="notes">
										<h4>Notes</h4>
										<div class="gadget">
											<textarea id="notes" name="note" cols="20" rows="20"></textarea>
										</div>
									</div>
								</div>
							</div>
							<div class="span6">
								<div class="round">
									<div id="mini_map"></div>
								</div>
							</div>
							<div class="span3">
								<div class="round">
									<div class="photos">
										<h4>Photos</h4>
										<div class="gadget">
											<img width="230" height="230" src="@routes.Assets.at("images/photo2.jpg")"/>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
		}
		<!-- Modals -->
		<div id="addSuccessModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="addSuccessModalLabel" aria-hidden="true">
		  <div class="modal-header">
		    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		    <h3 id="addSuccessModalLabel">Successful!</h3>
		  </div>
		  <div class="modal-body">
		    <p>Data has been transmitted successfully!</p>
		  </div>
		  <div class="modal-footer">
		    <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">OK</button>
		  </div>
		</div>
}


