@(raceDataAsJson: String)

@scripts = {
	<script type="text/javascript" src="@de.htwg.seapal.web.controllers.routes.Application.javascriptRoutes"></script>
	<script type="text/javascript" src="https://maps.google.com/maps/api/js?key=AIzaSyAL6gKFmwH7gDXmmAW-5VqkW_HbJG7_QLA&sensor=false"></script>
	<script type="text/javascript" src="@routes.Assets.at("lib/label.js")"></script>
	<script type="text/javascript" src="@routes.Assets.at("lib/racemap/racemap-1.0.0.js")"></script>
	<script type="text/javascript" src="@routes.Assets.at("js/racemap.min.js")"></script>
	<link type="text/css" rel="stylesheet" href="@routes.Assets.at("css/racemap.css")" />
}

@main("SeaPal - Racemap", scripts, bodyClass = "withsubnavi googlemaps", contentClass = "container-fluid") {
	<input type="hidden" name="raceData" value="@raceDataAsJson" />

	<div class="row-fluid" style="width:100%;">
		<div class="span12" style="width:100%;">
			<div id="map_canvas" class="span12" style="width:100%;"></div>
		</div>
	</div>
}