@(trips: java.util.List[de.htwg.seapal.model.ITrip])

@scripts = {
	<script type="text/javascript" src="@de.htwg.seapal.web.controllers.routes.Application.javascriptRoutes"></script>
	<script type="text/javascript" src="@routes.Assets.at("js/regatta.min.js")"></script>
	<script type="text/javascript" src="@routes.Assets.at("lib/bootstrap/js/bootstrap-tab.js")"></script>
	<script type="text/javascript" src="@routes.Assets.at("lib/jsrender.js")"></script>
}

@main("SeaPal - Regatta View", scripts, "withsubnavi") {
	<div class="container">
		<div class="row">
			<div class="span8">
				<div class="left">
					<h1>Regatta View</h1>
				</div>
			</div>
			<div class="span4">
				<div class="right buttons_top">
					<input type="submit" id="submitBtn" class="btn btn-success" value="Speichern"/>
				</div>
			</div>
		</div>
		<div class="tabs-wrapper">
			<div class="row">
				<div class="span12">
					<div class="tabbable tabs-left">
						<ul class="nav nav-tabs">
							@for(trip <- trips) {
								<li><a class="tabButton" href="#tab-@trip.getId()" data-toggle="tab">@trip.getName()</a></li>
							}
						</ul>
						<div class="tab-content">
						</div>
						<script id="tripTabContentTemplate" type="text/x-jsrender">
							<div class="tab-pane" id="tab-{{>_id}}">
								<p>waypoints here...</p>
							</div>
						</script>
					</div>
				</div>
			</div>
		</div>
	</div>
}