/**
 * General
 */

html,
body.googlemaps
{
	height:100%;
}
body
{
	background:url(../images/bg.jpg);
}
h1,
h2,
h3,
h4,
h5,
h6
{
	text-shadow:0 0 3px #333;
}
ul li.active,
h3
{
	font-weight:bold;
}

/**
 * Header / Navigation
 */

.navbar .brand
{
	background:url(../images/logo_seapal.jpg) center center no-repeat;
	text-indent:-99999px;
	width:143px;
}
/**
 * Second Navigation
 */

#webapp-menu-pill
{
	margin-top:90px;
	border-bottom:1px solid #fff;
}
@media (max-width: 767px) {
	#webapp-menu-pill {
		margin-top:0;
	}
}
/**
 * Content
 */

 .input-wrapper textarea
{
	width: 100%;
	height: 148px;
	resize: none;
}
.input-wrapper input.compact
{
	width: 28px;
}
.input-wrapper input.shift
{
	margin-left: 20px;
}
.input-wrapper input
{
	width: 100%
}
.round
{
	border-radius:5px;
	padding: 20px;
	margin-bottom:30px;
	background:rgba(0, 0, 0, 0.1);
}
.round h2
{
	border-bottom:1px solid #fff;
}
.listview
{
	margin-top: 20px;
	margin-bottom: 10px;
}
.left
{
	float: left;
}
.right
{
	float: right;
}
.gadgets-wrapper
{
	margin-top: 20px;
	margin-bottom: 10px;
}
.gadget
{
	margin-left: auto;
	margin-right: auto;
	width: 200px;
}
.notes textarea
{
	width: 185px;
	height: 185px;
	resize: none;
}
/**
 * Footer
 */

 .footer-wrapper
{
	margin-top: 30px;
}
.footer
{
	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
	background:#E8E8E8;
	padding: 60px;
}
.footer ul {
	list-style:none;
}
@media (max-width: 767px) {
	.footer {
		 margin-left:-20px;
		 margin-right:-20px;
	}
}

/**
 * Google Maps
 */
body.googlemaps
{
	height:90%;
}
#map_canvas
{
	height:100%;
}

/**
 * Context Menu
 */
 
#contextmenu button {
	width:100%;
	margin-bottom:5px;
	text-align:left;
}

.popover h3.popover-title {
	background:url(../images/bg.jpg);
	text-shadow:none;
	color:#FFF;
}
.popover h3 span {
	display:block;
}
.popover .input-mini {
    width: 50px;
	background:#FFF;
	font-size:9px;
}
.popover .input-append .add-on, .popover .input-prepend .add-on {
	line-height:18px;
}