/**
 * General
 */

html, body {
	height:100%;
}

body {
	font-family:'Droid Serif', serif;	
}

h1, h2, h3, h4, h5, h6, ul li  {
	font-family:'Droid Sans', sans-serif;
}
ul li.active, h3  {
	font-weight:bold;
}

/**
 * Header / Navigation
 */

.header-wrapper {
	margin-bottom: 100px;
}

.navbar {
	box-shadow:1px 1px 10px #333;
}

/**
 * Content
 */

 .content-wrapper {
 	min-height: 480px;
 }

 .input-wrapper textarea {
 	width: 100%;
	height: 148px;
	resize: none;
 }

 .input-wrapper input.compact {
 	width: 28px;
 }

 .input-wrapper input.shift {
 	margin-left: 20px;
 }

 .input-wrapper input {
 	width: 100%
 }

.round {
	border-radius:5px;
	background:#ccc;
	padding: 10px;
	margin-bottom:10px;
}

.listview {
	margin-top: 20px;
	margin-bottom: 10px;
}


.left {
	float: left;
}

.right {
	float: right;
}

.gadgets-wrapper {
	margin-top: 20px;
	margin-bottom: 10px;
}

.gadget {
	margin-left: auto;
	margin-right: auto;
	width: 200px;
}

.notes textarea {
	width: 185px;
	height: 185px;
	resize: none;
}

/**
 * Footer
 */

 .footer-wrapper {
 	min-height: 80px;
 	margin-top: 30px;
 }

.footer {
	box-shadow: 1px 1px 10px #333;
	background-color:#1b1b1b;
	background-image:-moz-linear-gradient(top, #222222, #111111);
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#222222), to(#111111));
	background-image:-webkit-linear-gradient(top, #222222, #111111);
	background-image:-o-linear-gradient(top, #222222, #111111);
	background-image:linear-gradient(to bottom, #222222, #111111);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff222222', endColorstr='#ff111111', GradientType=0);
	border-color:#252525;
	padding: 20px;
}

.footer a {
	color: white;
}

.footer ul {
	list-style-type: none;
}

#map_canvas  {
	height:80%;
}