@(boats: List[Boat], form: Form[Boat])

@import helper.twitterBootstrap._

@main("Boat Info") {
		<div class="content-wrapper">
			<div class="container">
				<div class="row">
					<div class="span12">
						<h1>@boats.size() boat(s)</h1>
						
						<ul>
					        @for(boat <- boats) { 
					            <li>
					                @boat.name
					                
					                @boat.bla
					                
					                @helper.form(routes.BoatInfo.deleteBoat(boat.id)) {
					                    <input type="submit" value="Delete">
					                }
					            </li>
					        }
					    </ul>
					    
					    <h2>Add a new task</h2>
    
					    @helper.form(routes.BoatInfo.addBoat()) {
					        
					        @helper.inputText(form("name"))
					        					        
					        @helper.inputText(form("bla"))
					        
					        <input type="submit" value="Create">
					        
					    }
					</div>
				</div>
			</div>
		</div>
}
